#ripplewerkz img {
    margin-bottom: 20px;
}
#ripplewerkz h1 {
    display:inline;
    margin-left: 20px;
    vertical-align: super;
}
#ripplewerkz .word_one {
    color: #2f4b53;
}
#ripplewerkz .word_two {
    color: #56a2ca;
}
#update {
    margin-top: 1em;
    padding: 0.5em;
    padding-left: 40px;
    background: #e6fdb5 url(../img/ripplewerkz/update.gif) 5px center no-repeat;
    border: 1px solid #b0bc9c;
}