// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { font-family: 'BrandonGrotesque'; }
@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Light.otf')  format('opentype'),
	     url('fonts/BrandonGrotesque-Light.woff') format('woff'), url('fonts/BrandonGrotesque-Light.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Medium.otf')  format('opentype'),
	     url('fonts/BrandonGrotesque-Medium.woff') format('woff'), url('fonts/BrandonGrotesque-Medium.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Bold.otf')  format('opentype'),
	     url('fonts/BrandonGrotesque-Bold.woff') format('woff'), url('fonts/BrandonGrotesque-Bold.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Black.otf')  format('opentype'),
	     url('fonts/BrandonGrotesque-Black.woff') format('woff'), url('fonts/BrandonGrotesque-Black.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
.font-b { font-family: 'Avenir'; }
@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/Avenir-Medium.woff') format('woff'), url('fonts/Avenir-Medium.ttf')  format('truetype'), url('fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),  url('fonts/Avenir-Heavy.woff') format('woff'), url('fonts/Avenir-Heavy.ttf')  format('truetype'), url('fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),  url('fonts/Avenir-Roman.woff') format('woff'), url('fonts/Avenir-Roman.ttf')  format('truetype'), url('fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/Avenir-Black.woff') format('woff'), url('fonts/Avenir-Black.ttf')  format('truetype'), url('fonts/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

/** font face **/
