/* CSS DOCUMENT */
html, body { height:100%; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { max-width:$maxWidth; margin: 0 auto;
  &.small { max-width:$minWidth; }
}

/********* Page Template *********/
#main-container { height:100%; height: auto !important; min-height:100%; }

.menu-sliding {
  &.main, &.behind { top: 0; left: 0; width: 630px; height: 100%; background: $coWhite; @include transition(all .4s cubic-bezier(.645,.045,.355,1)); @include transform(translate3d(-100%,0,0)); box-shadow: 0px 0px 5px rgba($coBlack, 0.05);
    &.active { @include transform(translate3d(0,0,0)); }
  }
  &.main { z-index: 203; position: fixed; overflow: auto;
    &::-webkit-scrollbar { width: 3px; }
  }
  &.behind { z-index: 202; position: absolute; }
  &.cover { z-index: 201; display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba($coWhite,0.5); }
}
.me-sl-top { padding: 59px 30px 35px 75px; }
.me-sl-right { margin-top: 20px;
  li { float: left; margin: 0 10px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    a { color: $defaultColor;
      &:hover { color: $coGreenSea; }
    }
  }
}
.me-sl-search { position: relative; display: none; margin: 0px 15px 5px 15px !important;
  input { z-index: 2; position: relative; display: block; width: 100%; padding: 7px 5px; padding-right: 25px; font-weight: 600; font-size: 14px; border: 1px solid $coAsh; @include border-radius(3px); background: none; -webkit-appearance: none;
    @include placeholder{color: $defaultColor; }
  }
  &:after { z-index: 1; content: '\f002'; display: block; position: absolute; top: 50%; right: 0; margin: -7px 7px 0px 7px; font-family: $fontAwesome; line-height: 1.0; }
}
.me-sl-menu { font-size: 24px; font-weight: 900;
  li { border-top: 1px solid #d5d5d5;
    &:last-child { border-bottom: 1px solid #d5d5d5; }
    a { position: relative; display: block; padding: 20px 30px 20px 75px; color: $defaultColor; }
    &.sub {
      > a {
        &:after { content: '\f067'; display: block; position: absolute; top: 50%; right: 30px; margin-top: -8px; font-family: $fontAwesome; font-size: 16px; line-height: 1.0; }
        &.active {
          &:after { content: '\f068'; }
        }
      }
      &:hover {
        a:after { color: $coWhite; }
      }
    }
    &:hover, &.active {
      a { background: $coGreenSea; color: $coWhite; }
      ul {
        li {
          a { background: none; color: $defaultColor;
            &:after { color: $defaultColor; }
          }
          &:hover {
            a { background: rgba($coGreenSea, 0.9); color: $coWhite;
              &:after { color: $coGreenSea; }
            }
          }
        }
      }
    }
    .m-s-menu-sub { display: none; }
    ul {
      li {
        &:last-child { border-bottom: none; }
        a { padding-left: 75px + 20px; }
      }
    }
  }
}
.me-sl-social { font-size: 22px; padding-top: 25px; padding-left: 75px;
  li { display: inline-block; vertical-align: middle; margin: 0px 15px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    a { color: $coAsh;
      &:hover { color: $coGreenSea; }
    }
  }
}

header { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; background: rgba($coWhite,0.97);
  &.v2 { box-shadow: 0px 0px 5px rgba($coBlack,0.5);
  }
}
.header-content { }
.header-top { padding: 10px 0; border-bottom: 1px solid #e7e7e7; }
.he-to-quote { color: $coGreenSea; }
.he-to-social { top: 50%; right: 0; font-size: 16px;
  li { display: inline-block; margin: 0 18px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    a { color: $coAsh;
      &:hover { color: $coGreenSea !important; }
    }
  }
}
.header-middle { padding-top: 20px; padding-bottom: 20px; }
.menu-bar { top: 50%; left: 0; margin-top: -18px; cursor: pointer;
  span { display: block; width: 31px; height: 3px; margin: 7px 0; background: $coBlack; @extend .ease; }
  &:hover {
    span { background: $coGreenSea; }
  }
}
.logo-left { display: none; }
.menu { display: none; margin-top: 21px; margin-left: 45px; font-size: 14px; font-weight: 600;
  li { display: inline-block; vertical-align: middle; margin: 0 24px;
    a { color: $defaultColor;
      &:hover { color: $coGreenSea; }
    }
    &.active a { color: $coGreenSea; }
  }
}
.he-mi-right { top: 50%; right: 0; text-transform: uppercase;
  li { display: inline-block; vertical-align: middle; margin: 0px 10px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    a { color: $defaultColor;
      .fa { font-size: 16px; }
      .icon { position: relative; display: inline-block; vertical-align: middle; margin-left: 7px; @include box-sizing(border-box);
        &.bag { min-width: 19px; height: 26px; top: -4px; padding: 8px 5px 4px 5px; background: url('../images/page_template/icon_bag.png') no-repeat center; background-size: 100% 100%; text-align: center; }
      }
      &:hover { color: $coGreenSea; }
    }
  }
}

#main-wrapper { }
.fl { float:left; }
.fr { float:right; }
.clr { float:none; clear:both; }

.bp-set { display:inline-block; *display:inline; }
.bp-set.vm { vertical-align:middle; }
.bp-set.vt { vertical-align:top; }
.bp-set.vb { vertical-align:bottom; }
.bp-box { box-sizing:border-box; }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }
.co-white { color: $coWhite; }
.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}

.pt1{padding-top:10px}
.pt2{padding-top:20px}
.pt3{padding-top:30px}
.pt4{padding-top:40px}
.pt5{padding-top:50px}
.pb1{padding-bottom:10px}
.pb2{padding-bottom:20px}
.pb3{padding-bottom:30px}
.pb4{padding-bottom:40px}
.pb5{padding-bottom:50px}
.mt1{margin-top:10px}
.mt2{margin-top:20px}
.mt3{margin-top:30px}
.mt4{margin-top:40px}
.mt5{margin-top:50px}
.mb1{margin-bottom:10px}
.mb2{margin-bottom:20px}
.mb3{margin-bottom:30px}
.mb4{margin-bottom:40px}
.mb5{margin-bottom:50px}

footer { z-index: 2; position: relative; }
.footer-content { }
.footer-top {
  .auto.bp-rel { padding: 47px 0; border-top: 1px solid #e4e4e4; }
}
.fo-to-set { @extend .bp-box;
  h4 { padding-bottom: 20px; @include responsive-font-size (14px, 18px, 640px, 1200px, 0px); text-transform: uppercase; font-weight: 900; line-height: 1.0; font-family: $fontB; }
}
.fo-to-links {
  li { margin-bottom: 10px;
    a { color: $defaultColor;
      &:hover { color: $coGreenSea; }
    }
    &:last-child { margin-bottom: 0; }
  }
}
.fo-to-newsletter { padding-left: 170px; padding-right: 170px; }
.f-t-new-form { position: relative;
  input[type="email"] { display: block; width: 298px; height: 54px; padding: 15px; background: none; border: 2px solid $coGreenSea; font-size: 18px; @include border-radius(0px); @include placeholder{color: $defaultColor;} -webkit-appearance: none; }
  button { width: 54px; height: 54px; border: 2px solid $coGreenSea; background: $coGreenSea; color: $coWhite; font-size: 32px;
    &:hover { background: $coGreenSeaLi; border-color: $coGreenSeaLi; }
  }
}
.fo-backtop { bottom: 0; left: 100%; margin: 30px 10px; color: $coGreenSea; line-height: 1.2; text-transform: uppercase; font-weight: 600; cursor: pointer;
  .icon { width: 40px; height: 40px; padding: 8px; margin-bottom: 10px; background: #c2c2c2; @include border-radius(50%); color: $coWhite; font-size: 18px; @include box-sizing(border-box); }
  &:hover {
    .icon { background: $coGreenSea; }
  }
}

.footer-bottom { padding-top: 10px; padding-bottom: 10px; background: #3e3e3e; color: $coWhite;
  .he-to-social {
    li {
      a { color: $coWhite; }
    }
  }
}
.fo-copyright { top: 50%; left: 0; }

.preloader { position:fixed; width:100%; height:100%; overflow:hidden; }
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; @include animation(rotatee 2.0s infinite linear); }
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$coBlack; @include border-radius(100%); @include animation(bouncee 2.0s infinite ease-in-out); }
.s-dot2 { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
@include keyframes(rotatee) { 100% { @include transform(rotate(360deg)); } }
@include keyframes(bouncee) { 0%, 100% { @include transform(scale(0.0)); } 50% { @include transform(scale(1.0)); } }
.lt-ie9 .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.lt-ie9 .preloader .spinner { display:none; }
/********* END Page Template *********/

// for inview
.hiding { opacity:0; }
.visible { opacity:1; }

/** CUSTOM SELECT **/
.custom-select-wrapper { position:relative; display:block; font-size:28px; color: $defaultColor; text-transform: capitalize;
  &:after { content: '\f107'; font-family: $fontAwesome; position:absolute; top:50%; right:0; margin:-14px 10px 0; font-size: 28px; line-height: 1.0; }
  .custom-select-display { display: block; min-width:70px; padding:10px 40px 10px 10px; overflow: hidden; @include box-sizing(border-box); white-space: nowrap; text-overflow: ellipsis; }
  select { -webkit-appearance: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 10px; margin: 5px 0; filter: alpha(opacity=0); opacity: 0; z-index: 1; cursor: pointer; }
}

/** PARALLAX BACKGROUND **/
.background-image-holder { opacity:0; position:absolute; background-size:cover !important; background-repeat: no-repeat !important; background-color: $coBlack; top:-50vh; left:0; width:100%; height:100vh; background-size:cover !important; background-repeat:no-repeat !important; background-position:50% 50% !important; @include transition(opacity 0.3s ease); @include transform-style(preserve-3d);
  img { display: none !important; }
  &.fadeIn { opacity:1; } /** fade in the banner **/
  &.banner { top:0; height:100%; @include transform(translate3d(0,0,0) !important); }
  &.mobile { top:0 !important; height:100% !important; }
  &.large { top:-60vh; height:120vh; }
  &.static { @include transform(translate3d(0,0,0) !important); }
}
.top-banner {
  .background-image-holder { top:0; height:100%; }
}

/** HOME **/
.home-content { }
.home-banner { overflow: hidden;
  .background-image-holder { top:-10%; height: 110%; }
  .flexslider {
    ul.slides {
      li {
        .h-b-ca-set {
          h1, p, .h-b-bottom { opacity: 0; @extend .ease; @include transform(translateY(50px)); }
          h1 { @include transition-delay(0.8s); }
          p { @include transition-delay(0.9s); }
          .h-b-bottom { @include transition-delay(1s); }
        }
        &.flex-active-slide {
          .h-b-ca-set {
            h1, p, .h-b-bottom { opacity: 1; @include transform(translateY(0)); }
          }
        }
      }
    }
  }
}
.ho-ba-set { min-height: 400px; overflow: hidden; }
.h-b-img { z-index: 1; top: 0; left: 0; width: 100%; height: 100%; }
.h-b-capt { z-index: 2; top: 50%; left: 0; width: 100%; @extend .bp-box; }
.h-b-ca-set { width: 350px; @extend .bp-box;
  h1 { padding-bottom: 10px; @include responsive-font-size (30px, 35px, 640px, 1200px, 0px); font-weight: 600; text-transform: uppercase; line-height: 1.0; }
}
.h-b-btn { display: block; min-width: 285px; padding: 20px 10px; text-transform: uppercase; font-weight: bold; font-size: 18px; color: $coWhite; background: $coBlack; text-align: center; line-height: 1.0; @include box-sizing(border-box);
  &.bp-set { display: inline-block; }
  &:hover { background: rgba($coGreenSea, 0.8); }
}

.nav1 {
  .flex-direction-nav {
    a { width: auto; height: auto; text-shadow: none; margin-top: -50px;
      &:before { content: ''; display: block; font-family: $fontAwesome; text-shadow: none; color: $coGreenSea; font-size: 100px; line-height: 1.0; }
      &.flex-prev {
        &:before { content: '\f104'; }
      }
      &.flex-next {
        &:before { content: '\f105'; }
      }
    }
  }
  &:hover {
    .flex-direction-nav {
      .flex-prev { left: 20px; }
      .flex-next { right: 20px; }
    }
  }
}
.nav2 {
  .flex-direction-nav {
    a { width: 48px; height: 91px; margin-top: -45px; background: url('../images/page_template/slider_nav.png');
      &.flex-prev { background-position: 0 0; }
      &.flex-next { background-position: -48px 0; }
    }
  }
  &:hover {
    .flex-direction-nav {
      .flex-prev { left: 20px; }
      .flex-next { right: 20px; }
    }
  }
}

.home-products { position: relative; overflow: hidden;
  li { float: left; width: 50%; }
}
.ho-fe-img { z-index: 1; }
.ho-fe-capt { z-index: 2; bottom: 0; left: 0; width: 100%; color: $coWhite;
  .main { max-width: 390px; padding: 60px; }
  h3 { padding-bottom: 10px; @include responsive-font-size (23px, 27px, 640px, 1200px, 0px); text-transform: uppercase; line-height: 1.2; text-transform: uppercase;}
}

.home-featured { padding-top: 90px; padding-bottom: 90px; }
.ho-fe-main { max-width: $minWidth; }

.ho-co-title { color: $coGreenSea; font-size: 28px; font-weight: 900; text-transform: uppercase; font-family: $fontB; }
.ho-po-list {
  li { float: left; width: 24.2%; margin: 0px 0.5%; @extend .bp-set;
    &:nth-child(4n+1) { margin-left: 0; }
    &:nth-child(4n) { margin-right: 0; }
  }
}
.h-p-set { overflow: hidden;
  a { display: block; }
  .hoverdir { display: none; z-index: 2; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba($coBlack,0.35); }
  &:hover {
    .h-p-capt { opacity: 1; }
  }
}
.ho-ins-list {
  li { float: left; width: 15.8%; margin: 0px 0.5%;
    &:nth-child(6n+1) { margin-left: 0; }
    &:nth-child(6n) { margin-right: 0; }
  }
}
.h-p-img { z-index: 1; position: relative; }
.h-p-capt { opacity: 0; z-index: 3; position: absolute; top: 50%; left: 0; width: 100%; padding: 20px; text-align: center; @include box-sizing(border-box);color: $coWhite; @extend .ease; }

/** ABOUT US **/
.in-co-breadcrumbs { color: $coAsh;
  li { display: inline-block; vertical-align: top;
    &:after { content: '/'; position: relative; top: -1px; margin: 0px 10px; font-size: 14px; }
    &:last-child { color: $defaultColor;
      &:after { display: none; }
    }
  }
}
.ab-co-list {
  li { padding: 35px 0; border-bottom: 2px solid #e1e1e1; }
}
.ab-co-title { position: relative; padding-right: 60px; text-transform: uppercase; cursor: pointer;
  h1 { @include responsive-font-size (20px, 24px, 640px, 1200px, 0px);  }
  &:after { content: '\f067'; display: block; position: absolute; top: 50%; right: 30px; margin-top: -8px; font-family: $fontAwesome; font-size: 16px; line-height: 1.0; }
  &.active {
    &:after { content: '\f068'; }
  }
}
.ab-co-capt { display: none; margin-top: 35px; color: $coAsh;
  p {
    &:first-child { padding-top: 0; }
    &:last-child { padding-bottom: 0; }
  }
}

/** PRODUCTS **/
.pr-co-banner { padding-top: 65px; padding-bottom: 65px; background: #26507b; color: $coWhite;
  h1, h2 { font-family: $fontB; line-height: 1.2; }
  h1 { font-weight: 600; font-size: 44px; text-transform: uppercase; }
  h2 { font-weight: 900; font-size: 38px; word-spacing: 26px;
    small { font-weight: 400; }
  }
}
.p-c-main { padding: 48px 50px; @extend .bp-box; }
.in-co-line { border-top: 1px solid #e4e4e4; }
.pr-co-filter { font-size: 14px; }
.pc-fi-title { width: 205px;
  .bp-set { margin-right: 10px; }
}
.p-c-fi-li { margin-left: 205px;
  li { display: inline-block; vertical-align: top; margin-right: 30px; margin-bottom: 3px;
    &:last-child { margin-right: 0; }
    a { display: block; position: relative; padding-bottom: 13px; color: $defaultColor;
      &:after { content: ''; display: block; position: absolute; bottom: 0; left: 50%; width: 0; height: 3px; background: $coGreenSea; @include transition(all 0.3s ease); }
      &:hover {
        &:after { left: 0; width: 100%; }
      }
    }
    &.active {
      a:after { left: 0; width: 100%; }
    }
  }
}

.p-c-fi-select { display: none; }

.pr-co-list {
  li { display: inline-block; vertical-align: top; @extend .bp-box; }
  &.col4 {
    li { width: 350px; margin: 10px 7px;
      &:nth-child(4n+1) { margin-left: 0; }
      &:nth-child(4n) { margin-right: 0; }
    }
  }
  &:after { content:''; display: block; @extend .clr; }
}

.pr-co-set { position: relative; overflow: hidden; background: $coDust;
  a { z-index: 2; position: relative; display: block; }
  .hoverdir { z-index: 1; display: none; position: absolute; top: 0 ; left: 0; width: 100%; height: 100%;  background: rgba($coBlack, 0.05); }
}
.h-p-det { padding: 20px 0;
  h4 { text-transform: uppercase; font-weight: normal; color: $coGreenSea; }
}
.h-p-color {
  span { position: relative; display: inline-block; width: 15px; height: 15px; background-color: $coBlack; @include border-radius(50%); cursor: pointer; overflow: hidden;
    span { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 50%; @include border-radius(50% 50% 0 0); }
  }
}

.pr-co-pagination { line-height: 1.0;
  li { display: inline-block; vertical-align: top; margin: 0px 3px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    &.nav { margin-left: 30px; margin-right: 30px; }
    a { display: block; padding: 10px 15px; color: $defaultColor;

    }
    &.active, &:hover {
      a { color: $coWhite; background: $coGreenSea; }
    }
  }
}

/** PRODUCT DETAILS **/
.pr-de-top { }
.p-d-top-set { @extend .bp-box;
  &.left { width: 765px; padding-left: 65px; }
  &.right { width: 615px; }

}
.p-d-slider { position: relative; overflow: hidden;
  .flexslider {
    &#carousel { width: 174px;
      ul.slides { width: 100% !important; @include transform(translate3d(0,0,0) !important);
        li { margin-bottom: 6px; cursor: pointer;
          &.flex-active-slide { cursor: default;
            .p-d-sl-img { background: rgba($coBlack, 0.05); }
          }
        }
      }
    }
    &#slider { margin-left: 118px; background: $coDust;
      .flex-control-nav { display: none; }
    }
  }
}
.p-d-sl-img { background: $coDust; @extend .ease;}
.p-d-desc {
  h1 { color: $coGreenSea; font-weight: 300; @include responsive-font-size (20px, 24px, 640px, 1200px, 0px); }
}
.p-d-desc-set {
  h2 { padding: 20px; text-transform: uppercase; font-weight: 600; }
}

.p-d-btn { display: block; min-width: 355px; min-height: 46px; padding: 15px; background: $coBlack; color: $coWhite; text-transform: uppercase; font-size: 20px; font-weight: 900; @extend .bp-box;
  &.bp-set { display: inline-block; }
  &:hover { background: rgba($coGreenSea, 0.9); }
}
.p-d-icon { width: 43px; height: 43px; padding: 8px; margin: 10px; border: 2px solid $coBlack; @extend .bp-box; @include border-radius(50%); font-size: 18px; color: $coBlack;
  &:hover {
    &.heart { border-color: $coPink; color: $coPink; }
  }
}

.p-d-social { font-size: 24px;
  h4 { padding-right: 20px; text-transform: uppercase; font-weight: normal; font-size: 18px; }
  .icon { margin: 2px 10px; color: $coBlack;
    &:hover { color: $coGreenSea; }
  }
}
.p-d-bo-title { position: relative; text-transform: uppercase; font-size: 16px;
  &:before { z-index: 1; content: ''; display: block; position: absolute; top: 50%; left: 0; width: 100%; border-top: 1px solid #e3e3e3; }
  span { z-index: 2; position: relative; display: inline-block; padding: 5px 20px; background: $coWhite; }
}
.p-d-car-set { position: relative; display: block; background: $coDust; overflow: hidden;
  img { z-index: 2; position: relative; }
  .hoverdir { z-index: 1; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba($coBlack, 0.05); }
}

/** CHECKOUT **/
.ch-co-title { padding: 35px 0; line-height: 1.0; border-bottom: 1px solid #717171; font-family: $fontB; font-weight: 600; text-transform: uppercase; }
.ch-co-indicator { color: #646464;
  li { position: relative; display: inline-block; min-width: 175px; padding: 0px 10px 19px 10px; @extend .bp-box;
    .num { z-index: 2; display: block; position: absolute; top: 100%; left: 50%; width: 23px; height: 23px; margin-left: -11.5px; margin-top: -11.5px; padding: 3px; background: #e9e9e9; @include border-radius(50%); @extend .bp-box; }
    &:before, &:after { z-index: 1; content: ''; display: block; position: absolute; top: 100%; width: 100%; height: 1px; background: #f5f5f5; }
    &:before { right: 50%; }
    &:after { left: 50%; }
    &.active {
      .num { background: $coGreenSea; color: $coWhite; }
    }
    &:first-child {
      &:before { display: none; }
    }
    &:last-child {
      &:after { display: none; }
    }
  }
}
.ch-co-table {
  &.desktop { display: block; }
  &.mobile { display: none; }
  table { width: 100%; text-align: center;
    tr {
      &:hover {
        td { background: rgba($coGreenSea, 0.05); }
      }
    }
    th { padding: 12px 20px; border-bottom: 1px solid #7e7c7c; font-size: 12px; text-transform: uppercase; }
    td { padding: 12px 20px; border-bottom: 1px solid #d6d4d4; vertical-align: top; font-size: 13px; font-weight: 600; @extend .ease;
      h4 { text-transform: uppercase; color: $coGreenSea; }
    }
    .prod { width: 90px; }
    .desc { width: 320px; text-align: left;
      strong { font-weight: 600; }
      .title { margin-right: 10px; }
    }
    .num { width: 150px; padding-left: 40px; padding-right: 40px; text-align: right; }
    .total { width: 150px; padding-right: 40px; text-align: right; }
    .qty { width: 190px; }
    .del { width: 150px; }
    .ch-close { color: #b3b3b3; font-size: 16px;
      &:hover { color: $coRed; }
    }
  }
}
.ch-co-product { border: 1px solid #dfdfdf; }
.ch-co-desc { }
.ch-co-mark { color: #a2a1a1; text-decoration: underline;
  &:hover { color: $coRed; text-decoration: underline; }
}
.ch-co-qty { width: 55px; height: 28px; padding:2px 5px; border: 1px solid #dad8d8; font-size: 13px; }
.ch-co-total { text-align: right; font-size: 13px;
  li { margin: 20px 0;
    span { display: inline-block; vertical-align: top; padding: 0px 40px; @extend .bp-box;
      &.num { min-width: 202px; }
      &.title { font-weight: 600; }
    }
    &.total { font-size: 18px; font-weight: 700; }
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
}

.c-c-ad-set { @extend .bp-box;
  &.left { width: 50%; padding-right: 8px; }
  &.right { width: 50%; padding-left: 8px; }
}
.ch-co-box { padding: 24px; border: 1px solid #cbcbcb; }
.ch-bo-title { padding: 8px 0; text-transform: uppercase; line-height: 1.2; @include responsive-font-size (14px, 18px, 640px, 1200px, 0px); border-bottom: 1px solid #cecece; }
.ch-bo-capt { padding-top: 24px; }
.ch-co-bottom { }
.ch-bo-btn { min-width: 300px; padding: 15px; background: #3e3e3e; font-size: 14px; text-transform: uppercase; color: $coWhite; font-weight: bold; @extend .bp-box; text-align: center; @include border-radius(5px);
  &:hover { background: $coGreenSea; }
  &.white { padding: 12px; background: none; color: #646464; font-weight: normal; font-size: 18px;
    .fa { margin-right: 50px; margin-left: 0; }
    &:hover { background: $coGreenSea; color: $coWhite; }
  }
  .fa { position: relative; top: -1px; margin-left: 50px; vertical-align: middle; font-size: 16px; }
  &.short { min-width: 160px; margin-left: 20px; @include border-radius(0); }
}

.ch-login-form {
  li { margin: 23px 0;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
    .title { display: inline-block; margin-bottom: 3px; font-weight: bold; text-transform: uppercase; }
  }
}
.ch-b-input { display: block; width: 305px; height: 28px; padding: 5px; border: 1px solid #cbcbcb; @include border-radius(0px); -webkit-appearance: none; }
textarea.ch-b-input { width: 100%; height: 95px; padding: 10px;
  &::-webkit-scrollbar { width: 3px; }
}
.ch-b-btn { padding: 5px 25px; border: 1px solid #cbcbcb; background: #313131; text-transform: uppercase; font-weight: bold; color: $coWhite; font-size: 12px; @extend .bp-box;
  &:hover { background: $coGreenSea; color: $coWhite; }
  .fa { position: relative; right: -5px; margin-left: 10px; }
}
.ch-lo-link { margin-top: 3px; text-decoration: underline; color: #565656; text-transform: uppercase; font-size: 10px;
  &:hover { text-decoration: underline; color: $coGreenSea; }
}

.ch-co-ad-top {
  h4 { text-transform: uppercase; }
}
.c-c-ad-select { min-width: 276px; padding: 5px; margin: 10px 0; border: 1px solid #d6d4d4; }
.c-c-ad-check {
  input { margin-right: 3px; }
  a { color: $defaultColor; text-decoration: underline;
    &:hover { color: $coGreenSea; }
  }
}

.ch-co-ship-set {
  h4 { padding-bottom: 5px; text-transform: uppercase; text-transform: uppercase; }
  li { margin: 6px 0; }
}
.c-c-method { border: 1px solid #cecece; @extend .ease;
  .bp-set { padding: 16px; @extend .bp-box;
    &.btn { width: 52px; height: 49px; padding: 16px; border-right: 1px solid #cecece; text-align: center; }
  }
  label.bp-set { width: 80%; }
  &:active { background: rgba($coGreenSea, 0.2); }
}

.ch-co-payment {
  ul { padding: 20px 0;
    li { margin-bottom: 15px;
      input[type="radio"] { margin: 4px 0px; }
      &:last-child { margin-bottom: 0; }
    }
  }
}
.ch-pa-capt { margin-left: 38px; }
.c-pa-card { padding-left: 52px; }

.ch-co-thankyou {
  h1 { padding-bottom: 10px; @include responsive-font-size (25px, 30px, 640px, 1200px, 0px); text-transform: uppercase; }
  h4 { font-weight: 600; font-size: 18px; }
}
.ch-th-list {
  li { display: inline-block; vertical-align: top; width: 49%; margin: 3px 0;
    span { display: inline-block; vertical-align: top;
      &.title { min-width: 210px; font-weight: bold;
      }
      &.sep { padding: 0px 5px; font-weight: 600; }
      &.short { min-width: 0; }
    }
  }
}
