/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* TABLET LANDSCAPE */
@media only screen and (max-width: 1550px) {
  /** FOOTER **/
  .fo-backtop { left: inherit; right: 0; }
  .fo-to-set { width: 25%; padding: 0px;
    &.fo-to-newsletter { width: 50%; padding: 0px 15px; }
  }
}
@media only screen and (max-width: 1450px) {
  /** PRODUCTS **/
  .pr-co-list {
    &.col4 {
      li { width: 24%; margin: 10px 0.45%; }
    }
  }
  /** PRODUCT DETAILS **/
  .p-d-top-set {
    &.left { width: 60%; padding-left: 0; padding-right: 10px; }
    &.right { width: 40%; padding-left: 10px; }
  }
}
@media only screen and (max-width: 1024px) {
  /** HEADER **/
  .menu-sliding {
    &.main, &.behind { width: 220px;
      &.active { }
    }
  }
  .me-sl-top { padding: 0; }
  .me-sl-logo { float: none !important; padding: 20px 15px 15px 15px;
     img { width: 100%; height: auto; }
  }
  .me-sl-right { float: none !important; margin: 0;
    li { float: none; margin: 0;
      a { display: block; padding: 10px 15px; font-weight: 900; }
      &:hover {
        a { background: $coGreenSea; color: $coWhite; }
      }
    }
  }
  .me-sl-menu { font-size: 14px;
    li { margin: 0;
      a { padding: 10px 15px; }
      &.sub { > a { &:after { right: 15px; margin-top: -5px; font-size: 10px; } } }
      ul li a { padding-left: 30px; }
    }
  }
  .me-sl-social { padding: 20px 15px; font-size: 18px; }
  .me-sl-search { display: block; }
  /** FOOTER **/
  .footer-top .auto.bp-rel { padding: 30px 0; }
  /** HOME **/
  .h-b-ca-set { width: 50%; padding: 0px 70px; }
  .home-featured { padding-top: 0; padding-bottom: 30px; }
  .car1 { padding-left: 30px; padding-right: 30px; }
  /** PRODUCTS **/
  .p-c-main { width: 80%; }
  .pr-co-banner {
    h1 { font-size: 35px; }
    h2 { font-size: 30px; }
  }
}
/* TABLET PORTRAIT */
@media only screen and (max-width: 950px) {
  /** FOOTER **/
  .footer-top .auto.bp-rel { padding-right: 50px; }
  .f-t-new-form {
    input[type="email"] { width: 100%; padding-right: 60px; }
    button { position: absolute; top: 0; right: 0; height: 100%; }
  }
  /** PRODUCTS **/
  .pr-co-list {
    &.col4 {
      li { width: 32.3%; margin: 10px 0.45% !important;
        &:nth-child(3n+1) { margin-left: 0 !important; }
        &:nth-child(3n) { margin-right: 0 !important; }
      }
    }
  }
  /** PRODUCT DETAILS **/
  .p-d-top-set {
    &.left, &.right { width: 50%; }
  }
  .p-d-slider .flexslider {
    &#carousel { display: none; }
    &#slider { margin-left: 0;
      .flex-control-nav { display: block; }
    }
  }
  /** CHECKOUT **/
  .ch-co-indicator {
    li { min-width: 0; width: 20%; margin: 0 -2px; }
  }
}
/* TABLET PORTRAIT AND BIG MOBILE */
@media only screen and (max-width: 810px) {
  /** HEADER **/
  .h-m-search { display: none !important; }
  /** HOME **/
  .h-b-ca-set { float: none !important; width: auto; text-align: center;
    .h-b-btn { display: inline-block; }
  }
  .nav2 .flex-direction-nav a { transform: scale(0.6); }
  .ho-fe-capt {
    .main { padding: 30px; }
    h3 { font-size: 25px; }
  }
  .h-b-capt { padding-top: 20px; padding-bottom: 20px; background: rgba($coWhite, 0.5); }
  /** PRODUCTS **/
  .pr-co-banner {
    h1 { font-size: 28px; }
    h2 { font-size: 25px; word-spacing: 0; }
  }
  .p-c-main { padding: 30px; }
  .pr-co-filter { text-align: center; }
  .p-c-fi-li { display: none; }
  .p-c-fi-select { display: inline-block; }
  .pc-fi-title { position: absolute; top: 0; left: 0; width: auto; margin: 20px 0; }
  .p-d-desc-set { margin: 20px 0; }
}
/* BIG MOBILE LANDSCAPE */
@media only screen and (max-width: 760px) {
  /** HOME **/
  .ho-po-list li { width: 50%; margin: 10px 0; }
  .ho-ins-list {
    li { width: 32.6%; margin: 0.5% !important;
      &:nth-child(3n+1) { margin-left: 0 !important; }
      &:nth-child(3n) { margin-right: 0 !important; }
    }
  }
  /** PRODUCT DETAILS **/
  .p-d-top-set { float: none !important; width: auto !important; padding: 0 !important;
    &.left { margin-bottom: 30px !important; }
  }
}
@media only screen and (max-width: 670px) {
  /** FOOTER **/
  .footer-top .auto.bp-rel { padding-top: 20px; padding-bottom: 20px; }
  .fo-to-set { width: 50%;
    &.fo-to-newsletter { display: block; float: none !important; width: auto; padding: 0 0 20px 0; }
  }
  .fo-backtop { right: -10px; }
  /** PRODUCTS **/
  .pr-co-list {
    &.col4 {
      li { width: 49.5%; margin: 10px 0% !important;
        &:nth-child(2n+1) { padding-right: 5px; }
        &:nth-child(2n) { padding-left: 5px; }
      }
    }
  }
  /** CHECKOUT **/
  .ch-co-table {
    &.desktop { display: none; }
    &.mobile { display: block; }
    table {
      tr {
        &:first-child {
          td { border-top: 1px solid #d6d4d4; }
        }
      }
      td { padding: 20px 10px; }
    }
  }
  .ch-co-bottom { text-align: center; }
  .ch-bo-btn { display: block; width: auto; min-width: 100%; margin: 5px 0;
    &.white { float: none !important; display: inline-block; }
    &.short { min-width: 100%; margin: 5px 0; }
  }
  .ch-co-total {
    li { margin: 7px 0;
      span { padding: 0px 15px; }
    }
  }
}
@media only screen and (max-width: 640px) {
  .mt5 { margin-top: 40px; }
  .mt4 { margin-top: 30px; }
  .mt3 { margin-top: 20px; }
  .mb5 { margin-bottom: 40px; }
  .mb4 { margin-bottom: 30px; }
  .mb3 { margin-bottom: 20px; }
  .pt5 { padding-top: 40px; }
  .pt4 { padding-top: 30px; }
  .pt3 { padding-top: 20px; }
  .pb5 { padding-bottom: 40px; }
  .pb4 { padding-bottom: 30px; }
  .pb3 { padding-bottom: 20px; }
  /** HEADER **/
  .header-middle { padding-top: 10px; padding-bottom: 10px; }
  .h-m-bag {
    .capt { display: none; }
  }
  .logo img { width: 160px; height: auto; }
  .he-mi-right li a .icon.bag { top: 0; }
  /** FOOTER **/
  .footer-top .auto.bp-rel { padding-right: 0; }
  .footer-bottom { padding-top: 15px; padding-bottom: 15px;
    .he-to-social, .fo-copyright, .fo-logo  { position: relative; text-align: center; margin: 0 !important; }
    .he-to-social { font-size: 20px; }
    .fo-logo { padding: 15px 0 20px 0; }
  }
  /** HOME **/
  .home-products li { float: none !important; width: auto; }
  .ho-po-list { margin-top: 0; }
  /** ABOUT US **/
  .ab-co-list li { padding: 20px 0; }
  /** PRODUCTS **/
  .pr-co-banner { padding-top: 40px; padding-bottom: 40px; }
  .pr-co-filter { margin-top: 10px; margin-bottom: 15px; }
  .pr-co-pagination {
    li {
      &.nav { margin-left: 3px; margin-right: 3px;
        &:first-child { margin-left: 0; }
        &:last-child { margin-right: 0; }
      }
      a { padding: 7px 12px; }
    }
  }
  /** PRODUCT DETAILS **/
  .p-d-btn { min-width: 100%; }
  .p-d-desc-set h2 { padding: 15px; }
  /** CHECKOUT **/
  .checkout-content { margin-bottom: 0; }
  .ch-co-title { padding: 20px 10px; text-align: center; }
  .c-c-ad-set { float: none !important; width: auto !important; padding: 0 !important; margin: 20px 0;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
  .ch-co-box { height: auto !important; }
  .ch-ad-bottom { text-align: center;
    .ch-b-btn { display: block; width: 100%; padding: 10px; }
  }
  .c-c-ad-check.fr { float: none; text-align: center; }
  .tocco-sig img { width: 150px; height: auto; }
  .ch-th-list li { display: block; width: auto;
    span.title { min-width: 0; }
  }
}
/* MOBILE LANDSCAPE */
@media only screen and (max-width: 560px) {
  /** PRODUCTS **/
  .pr-co-banner {
    h1 { font-size: 25px; }
    h2 { font-size: 20px; }
  }
  .p-c-main { width: 70%; padding: 20px; }
}
@media only screen and (max-width: 480px) {
  /** HEADER **/
  .he-to-social li { margin-right: 5px; }
  /** HOME **/
  .ho-fe-capt h3 { font-size: 23px; }
  /** CHECKOUT **/
  .ch-co-total { float: none !important;
    li {
      span { min-width: 30% !important; }
    }
  }
  .c-pa-card { padding-left: 0; }
  .ch-b-input { min-width: 100%; width: 100%; }
}
/* MOBILE PORTRAIT */
@media only screen and (max-width: 400px) {
  /** HEADER **/
  .he-to-quote { text-align: left; }
  /** FOOTER **/
  .fo-to-set { float: none !important; display: block; width: auto; padding: 10px 0; }
  /** HOME **/
  .h-b-ca-set { padding: 0px 30px; }
  .nav2 .flex-direction-nav a { transform: scale(0.3);
    &.flex-prev { left: -5px !important; }
    &.flex-next { right: -5px !important; }
  }
  .h-b-btn { display: block; min-width: 100%; padding: 15px 10px; }
  /** PRODUCTS **/
  .pr-co-list {
    &.col4 {
      li { display: block; width: auto; margin: 10px 0 !important; padding: 0 !important; }
    }
  }
}
@media only screen and (max-width: 320px) { }

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dppx) {
	/* Style adjustments for high resolution devices */
}
