// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1450px; // can be use as max width of the container
$minWidth   : 1080px; // can be use as max width of the container

// for fonts
$defaultFont: 'BrandonGrotesque', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontAwesome: 'FontAwesome';
$fontA      : 'BrandonGrotesque';
$fontB      : 'Avenir';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #231f20; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #28b0ab; // default link color for the whole sire
$coWhite          : #ffffff;
$coBlack          : #000000;
$coGreenSea       : #28b0ab;
$coGreenSeaLi     : #08c4bd;
$coAsh            : #c6c6c6;
$coDust           : #fcfcfc;
$coPink           : #e4007d;
$coRed            : #e74c3c;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;

// for image sprite
//$imgSprite: url('');
