.ch-co-table table tr:hover td{ background: none; }
.he-mi-right li:last-child {margin: 0}
div.uploader span.filename {height: 25px !important;}
form#account-creation_form .row .col-xs-2, #identity .row .col-xs-2 {padding-right: 0;}
form#account-creation_form .row .col-xs-2:first-child,#identity .row .col-xs-2:first-child {padding-left: 0;}
#right_column,.m-s-menu-sub,.me-sl-social,.menu-sliding .sl-my_account, #sold_out_cart {display: none;}
div.radio {position: relative; top: 3px;}
div.radio.hover span, div.radio.focus span { background-position: 0 -243px !important; }
div.selector.hover span, div.selector.focus span { background-position: right 0 !important; }
div.checker.hover span, div.checker.focus span { background-position: 0 -257px !important; }

div.checker.hover span.checked,div.checker span.checked {background-position: -15px -257px !important; }
div.radio.hover span.checked, div.radio.focus span.checked {background-position: -13px -243px !important;}
#newsletter-input {position: relative; }
.zoomPad .zoomWrapper {border: none !important;}
.footer-bottom .he-to-social.bp-ab.bp-middle {margin-top: 14px !important}
.he-to-social li a {color: #c6c6c6;}
.he-to-social li a:hover {color: #28b0ab !important}
#carousel_h.ho-ins-list li { margin: 0 !important;}

#carousel_h .flex-direction-nav a{display:block;left:0;width:30px; top: 30%; height:108px;margin:0 !important;background:#231f20;text-align:center}
#carousel_h .flex-direction-nav a:before
{content:'';display:block;font-family:"FontAwesome";font-size:30px;line-height:1.0;color:#fff;text-shadow:none; position: relative; top: 35%;}
#carousel_h .flex-direction-nav a.flex-prev:before{content:'\f104'}
#carousel_h .flex-direction-nav a.flex-next:before{content:'\f105'}
#carousel_h .flex-direction-nav a.flex-next {left: auto;}
#searchbox #search_query_top {opacity: 0; border: none; border-bottom: 1px solid #231f20;}
#searchbox:hover #search_query_top {opacity: 1}
.rte span,.rte p,.rte a {
    font-size: 16px;
}
.rte table td { padding: 10px 0;}
#searchbox #search_button {top: 5px;}
#cart_voucher > form#voucher {
    position: relative;
    text-align: right;
    margin-bottom: 10px;
}
#cart_voucher > form#voucher .fl {
    display: inline-block;
    float: none;
}
#cart_voucher > form#voucher input[type="text"] {width: 250px;}
#cart_voucher > form#voucher label {padding: 5px 10px 0 0 }
#cart_voucher > form#voucher .ch-b-btn { margin-left: -4px; position: relative; top: 1px; }
/*.pr-co-set a { z-index: 0; }*/
.h-p-color li a {border: 1px solid #fff;}
.h-p-color li a:hover {border: 1px solid #000;}
#main-wrapper {
    min-height: 550px;
}
.ch-co-desc small {display: block;}

#main-wrapper .addresses .ch-co-address {
    margin-bottom: 20px;
}
.alert-warning.address_add .ch-b-btn.bp-set {display: none;}
.radio input[type="radio"], .radio-inline input[type="radio"] {margin: 3px 5px 0 !important}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin: 2px 5px 0 !important}
.popover { text-align: center; }
.popover-content table tr td,#add_to_cart_div .p-d-btn{ cursor: pointer;}

#sold_out_cart .p-d-btn {cursor: context-menu;}
.popover-content table tr td:hover { background: #ebebeb;}
#cms .rte table td p {padding: 3px 0;}
#cms .rte h1 {margin-top: 10px;}
#address_invoice_form .ch-b-btn.bp-set {margin-top: -10px;}

#id_address_invoice.form-control, #id_address_delivery.form-control {
    left: 10px;
    position: relative;
    top: -6px;
}
.p-d-social .icon {
    background: none;
    border: medium none;
}
.p-d-social .icon i {color: #000;}
#product .product-details{ overflow: hidden; }
/*#main-container header {z-index: 9999;}*/
@media only screen and (min-width: 1025px) {
  .zoomPad .zoomWrapperImage > img {width: auto; max-width: 876px;}
}
@media only screen and (min-width: 500px) {
  .he-to-social.bp-ab.bp-middle {
    margin-top: 0 !important;
    top: 0;
}
      
    }
@media only screen and (max-width: 3050px) {
  .hiding {opacity: 1}
}
@media only screen and (max-width: 1194px){
  #product .p-d-top-set {
      float: none !important;
      width: 100% !important;
      padding: 0 !important;
      clear: both;
  }
  #product #image-block{float: left !important; margin-left: 30px;}
  #views_block {margin-left: 20%;}
}
@media only screen and (max-width: 1050px) {
  .me-sl-menu li span.sub::after {margin-top: -22px;}
  .h-p-color.fr {
    text-align: right;
    width: 50%;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
  #product .product-details .jqzoom .zoomPad > img{width: 100%;}
  .pr-co-list.col4 li {margin-top: 0 !important;}
  .color_to_pick_list li {display: inline-block !important; width: 10% !important;}
  .he-mi-right li.h-m-search {display: none;}
  #views_block {margin-left: 5%;}
  
}
@media only screen and (max-width: 1025px){
  .home-banner .flex-direction-nav a {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
  }
  #cart_voucher > form#voucher input[type="text"] { width: 200px; }
  
}

@media only screen and (max-width: 1024px){
  .zoomWindow {
      display: none !important;
  }
  .zoomPad,.zoomPup {cursor: context-menu;}
}
@media only screen and (max-width: 945px){
#id_address_invoice.form-control, #id_address_delivery.form-control {
    left: 0;
    top: 0;
  }

  #product #image-block, #views_block {margin-left: 0;}
}
@media only screen and (max-width: 780px){

  #cart_voucher > form#voucher {text-align: center;}
  .ch-co-table table td{font-size: 10px;}
  .p-d-btn {
    min-width: 330px;
  }
  /*.ch-co-table.desktop {
    display: block;
  }*/
  #main-wrapper {
    min-height: auto;
}
#views_block,.resetimg {display: none;}
#send_friend_form_content {width: auto}
#cms #main-wrapper .mb5{margin-bottom: 0;}
/*  .ch-co-table table td { display: block; border: none; text-align: center !important; width: 100% !important;padding: 0 !important}
  .ch-co-table table th, .ch-co-table .cart_unit.num {display: none;}
  .ch-co-table table tr.cart_total_price td.text-right, .ch-co-table table tr.cart_total_delivery td.text-right, .ch-co-table table tr.cart_total_voucher td.text-right
  {
    display: block;
    text-align: center;
  }
  .ch-co-table table tr:first-child td, .ch-co-table table tr td, .ch-co-table table tr.cart_total_price td, .ch-co-table table tr.cart_total_delivery td, .ch-co-table table tr.cart_total_voucher td
  {
    border: none;
  }
  .ch-co-table table tfoot tr td {margin-top: 20px;}
  .ch-co-table table tbody .cart_total.total{margin-bottom: 20px;}
  .ch-co-table table tr.cart_item {border-bottom: 1px solid #d6d4d4}
  .ch-co-table table tr .pt3{padding: 0;}

  .ch-co-table table tr.first_item.cart_item td.cart_product {
      margin-top: 0;
  }
  .ch-co-table table tr.cart_item td {
      margin-top: 20px;
  }*/
  #cart_voucher, #cart_voucher .fl {text-align: center;}
  #cart_voucher > form#voucher input[type="text"] {width: 100%;}
  .ch-co-table .cart_summary_voucher tr:first-child td, .ch-co-table .cart_summary_total_prices tr:first-child td { border: none; }
  .ch-co-table .cart_summary_voucher tr td {border-bottom: 1px solid #d6d4d4}
  .cart_summary .cart_quantity_input {display: inline; width: auto; text-align: center;}
}
@media only screen and (max-width: 740px) {
  .fo-to-set.fo-to-newsletter {
      display: block;
      float: none !important;
      width: auto;
      padding: 0 0 20px 0;
  }
  .fo-to-set { width: 50%; }
}
@media only screen and (max-width: 670px) {
  
  #cms .rte table td { display: block; }
  .pr-co-list.col4 li:nth-child(2n) {
      padding-left: 0 !important;
  }
  .pr-co-list.col4 li:nth-child(2n+1) {
      padding-right: 0;
  }
  .h-p-det h4, #product .price .price {
    font-size: 17px !important;
  }  
  .pr-co-list.col4 .color_to_pick_list li{
    margin: 0 2px !important;
  }
  
  .radio-inline .checker, .checkbox .checker{
    display: inline-block;
    float: none;
    position: relative;
    top: -2px;
  }
  div.radio {
    position: relative;
    top: 1px;
  }

  .bp-img.wide img { width: auto; }
  #cart_voucher > form#voucher input[type="text"] {width: auto;}
}
@media only screen and (max-width: 640px) {
.c-c-ad-check.fr .checkbox input {
    float: none;
    display: inline-block;
    position: relative;
    top: 2px;
  }
}
@media only screen and (max-width: 545px) {
  #cart_voucher > form#voucher .fl, #cart_voucher > form#voucher input[type="text"] {width: 100%;}
}
@media only screen and (max-width: 520px) {
  .he-to-social {
    position: relative !important;
    text-align: center;
    margin-top: 0px !important;
  }
  .ch-co-table .cart_description.desc .ch-co-desc small {display: block;}
 /* .ch-co-table .cart_description.desc .ch-co-desc h4, .ch-co-table .cart_total.total .price{text-align: center;}
  .ch-co-table .cart_description.desc .ch-co-desc small {display:block;text-align: center;}
  .ch-co-indicator li {width: 100%; display: block; padding-bottom: 30px; text-align: center;}
  .ch-co-indicator li .num {position: absolute; top: 14px; left: 45%; display: inline-block; margin: 0;}
  .ch-co-indicator li:before, .ch-co-indicator li:after{content: ''; display: none; background: none}*/
  div.radio { top: 5px; }

  #cart_voucher > form#voucher .fl {width: 100%;}
  .he-mi-right li.h-m-my_account {display: none;}
  .menu-sliding .sl-my_account {display: block;}

  .ch-co-table.mobile .cart_summary td {padding: 20px 0;}
  .ch-co-table.mobile table td.cart_product {
    padding-right: 10px;
}
}
@media only screen and (max-width: 490px){
.home-banner .ho-ba-set { min-height: 0; }
.home-banner .h-b-ca-set {padding: 0;}
}
@media only screen and (max-width: 402px){

  
  .header-top .he-to-quote.par-medium { text-align: center !important; }
  div.radio { display: inline-block !important; width: 100% !important; }
  .payment_module {text-align: center;}
  .payment_module .ch-pa-capt {margin-left: 10px;}
  input[type="text"] {width: 100%;}
  .radio-inline div.radio {
      width: auto !important;
      position: relative;
      top: 2px;
    }
  .payment_module div.radio { display: inline-block !important; width: auto !important; float: left;}
  .radio-inline, .checkbox-inline {
    padding-left: 0;
  }
  .ch-pa-capt {
    float: left;
    width: 90%;
    text-align: left;
  }
  .bp-img.wide img {width: 100%;}

  .p-d-btn {min-width: 100%;}
  .ch-co-table.mobile table tr.cart_total_price td.text-right, .ch-co-table.mobile table tr.cart_total_delivery td.text-right, .ch-co-table.mobile table tr.cart_total_voucher td.text-right {padding-right: 2%;}
}
@media only screen and (max-width: 350px){
  .pr-co-banner .p-c-icon {
      display: none;
  }
}
@media only screen and (max-width: 250px){
  /*.ch-co-table table td {width: 75% !important}*/
}