<li class="payment_module">
	{*<a href="{$link->getModuleLink('internetbanking', 'payment')}" title="Pay via internet banking">
		<img src="{$this_path}img/ibanking.jpg" alt="Pay via internet banking" />
	</a>*}
	<input id="ibanking_btn" class="bp-set fl" type="radio" value="{$link->getModuleLink('internetbanking', 'payment')}" name="name">
	<div class="ch-pa-capt">
		<label for="bank-transfer">{l s='Internet Banking Transfer'}</label>
	</div>
	<div class="clr"></div>
</li>