{if $MENU != ''}
	<!-- Menu -->
	<div class="{if $hookname && $hookname=='top_slider'}menu{else}menu fl{/if} bp-tt">
		{*<div class="cat-title">{l s="Menu" mod="blocktopmenu"}</div>*}
		<ul>
			{$MENU}
			{*{if $MENU_SEARCH}
				<li class="sf-search noBack" style="float:right">
					<form id="searchbox" action="{$link->getPageLink('search')|escape:'html':'UTF-8'}" method="get">
						<p>
							<input type="hidden" name="controller" value="search" />
							<input type="hidden" value="position" name="orderby"/>
							<input type="hidden" value="desc" name="orderway"/>
							<input type="text" name="search_query" value="{if isset($smarty.get.search_query)}{$smarty.get.search_query|escape:'html':'UTF-8'}{/if}" />
						</p>
					</form>
				</li>
			{/if}*}
			<li class="sl-my_account"><a href="{$link->getPageLink('my-account', true)|escape:'html':'UTF-8'}"><span class="capt">my account</span></a></li>
		</ul>
	</div>
	<!--/ Menu -->
{/if}